# cwlogs-writable #

Writable stream for AWS CloudWatch Logs, inspired by [bunyan-cloudwatch](https://github.com/mirkokiefer/bunyan-cloudwatch).

[![Build Status](https://travis-ci.org/amekkawi/cwlogs-writable.svg?branch=master)](https://travis-ci.org/amekkawi/cwlogs-writable)

* [Features](#features)
* [API Docs](#api-docs)
* [Quick Start](#quick-start)
* [Bunyan Example](#bunyan-example)
* [Picking LogStream Names](#logstream-names)
* [Recovering from AWS Errors](#error-recovery)
* [CWLogsWritable Options](#options)
* [Change Log](#changelog)
* [License](#license)

---

<a name="features"></a>
## Features ##

* Uses [aws-sdk](https://www.npmjs.com/package/aws-sdk).
* Can be used anywhere Writable streams are allowed.
* Allows for recovery from AWS errors.
* Creates log groups and streams if they do not exist.
* Filtering of log events by the stream itself.
* Safe stringification of log events.

<a name="api-docs"></a>
## API Docs ##

There are two forms of the API docs:

* [Normal API docs](docs/api.md) - Use this if you using cwlogs-writable
  as-is and not customizing/extending it's functionality.
* [Extended API docs](docs/api-protected.md) - Use this to also view
  `protected` methods that you can use to customize/extend cwlogs-writable.

<a name="quick-start"></a>
## Quick Start ##

Install the library using NPM into your existing node project:

```
npm install cwlogs-writable
```

Create and write to the stream.

```javascript
var CWLogsWritable = require('cwlogs-writable');

// Make stream name as unique as possible (see "Picking LogStream Names").
var streamName = 'my-log-stream/' + Date.now()
  + '/' + Math.round(Math.random() * 4026531839 + 268435456).toString(16);

var stream = new CWLogsWritable({
  logGroupName: 'my-aws-log-group',
  logStreamName: streamName,

  // Options passed to the AWS.CloudWatchLogs service.
  cloudWatchLogsOptions: {
    // Change the AWS region as needed.
    region: 'us-east-1',

    // Example authenticating using access key.
    accessKeyId: '{AWS-IAM-USER-ACCESS-KEY-ID}',
    secretAccessKey: '{AWS-SECRET-ACCESS-KEY}'
  }
});

stream.write('example-log-message');
```

<a name="bunyan-example"></a>
## Bunyan Example ##

```javascript
var bunyan = require('bunyan');
var CWLogsWritable = require('cwlogs-writable');

// Make stream name as unique as possible (see "Picking LogStream Names").
var streamName = 'my-log-stream/' + Date.now()
  + '/' + Math.round(Math.random() * 4026531839 + 268435456).toString(16);

var logger = bunyan.createLogger({
  name: 'foo',
  streams: [
    {
      level: 'debug',

      // If 'raw' the CloudWatch log event timestamp will
      // be taken from the bunyan JSON (i.e. rec.time).
      type: 'raw',

      stream: new CWLogsWritable({
        logGroupName: 'my-aws-log-group',
        logStreamName: streamName,
        cloudWatchLogsOptions: { /* ... */ }
      })
    }
  ]
});
```

<a name="logstream-names"></a>
## Picking LogStream Names ##

In AWS CloudWatch Logs a LogStream represents "a sequence of log events from a
single emitter of logs".

The important part is "single emitter", as this implies that log events should
not be put into a LogStream concurrently by multiple emitters.

This is enforced by the [PutLogEvents API action](http://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutLogEvents.html)
which requires each call to include a "sequenceToken". That token is changed
each time a call is successful, and the new token is used for the next call.

If an emitter provides an incorrect token, the API will respond with
an __InvalidSequenceTokenException__.

To avoid this error, you must pick LogStream names that are unique to the
emitter or at least include enough randomness.

```javascript
// Example generation of LogStream name
var logStreamName = [

  // Environment identifier (e.g. "production")
  process.env.NODE_ENV || 'development',

  // Current UTC date
  new Date().toISOString().substr(0, 10),

  // EC2 instance ID, optionally provided as an env variable
  process.env.EC2_INSTANCE_ID || null,

  // Process ID
  'p' + process.pid,

  // Random hex string (from "10000000" to "ffffffff")
  Math.round(Math.random() * 4026531839 + 268435456).toString(16),

].filter(Boolean).join('/').replace(/[:*]/g, '');
```

<a name="error-recovery"></a>
## Recovering from AWS Errors ##

When an AWS error is encounted, the default behavior of a CWLogsWritable
stream is to emit an 'error' event, clear any queued logs, and ignore all
further writes to the stream to prevent memory leaks.

To override this behavior you can provide a `onError` callback that will
allow you to recover from these errors.

```javascript
var CWLogsWritable = require('cwlogs-writable');

function onError(err, logEvents, next) {
  // Use built-in behavior if the error is not
  // from a PutLogEvents action (logEvents will be null).
  if (!logEvents) {
    next(err);
    return;
  }

  // Requeue the log events after a delay,
  // if the queue is small enough.
  if (this.getQueueSize() < 100) {
    setTimeout(function() {
      // Pass the logEvents to the "next" callback
      // so they are added back to the head of the queue.
      next(logEvents);
    }, 2000);
  }

  // Otherwise, log the events to the console
  // and resume streaming.
  else {
    console.error(
      'Failed to send logEvents: ' +
      JSON.stringify(logEvents)
    );

    next();
  }
}

// Make stream name as unique as possible (see "Picking LogStream Names").
var streamName = 'my-log-stream/' + Date.now()
  + '/' + Math.round(Math.random() * 4026531839 + 268435456).toString(16);

var stream = new CWLogsWritable({
  logGroupName: 'my-aws-log-group',
  logStreamName: streamName,
  cloudWatchLogsOptions: { /* ... */ },

  // Pass the onError callback to CWLogsWritable
  onError: onError
});
```

<a name="options"></a>
## CWLogsWritable Options ##

{{>docs-options~}}

<a name="changelog"></a>
## Change Log ##

See [CHANGELOG.md](CHANGELOG.md)

<a name="license"></a>
## License ##

The MIT License (MIT)

Copyright (c) 2017 Andre Mekkawi &lt;github@andremekkawi.com&gt;

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
